<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cohen.scheduletracking.leader.dao.CommonMapper">
    <insert id="insertEmpProject">
        insert into emp_project(emp_id, pro_id, is_manager) values(#{empId}, #{proId}, #{isManager})
    </insert>
    <select id="queryByEmpId" parameterType="int" resultType="com.cohen.scheduletracking.entity.EmpProject">
        select * from emp_project as t where t.emp_id=#{id}
    </select>
    <select id="queryByProId" parameterType="int" resultType="com.cohen.scheduletracking.entity.EmpProject">
        select * from emp_project as t where t.pro_id=#{pid}
    </select>
</mapper>