<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cohen.scheduletracking.common.dao.LoginMapper">
    <select id="checkUserName" resultType="com.cohen.scheduletracking.entity.Employee">
        select * from employee as e where e.user_name = #{userName}
    </select>
    <select id="checkPassword" resultType="com.cohen.scheduletracking.entity.Employee">
        select * from employee as e where e.user_name = #{userName} and e.password = #{password}
    </select>
    <select id="checkValid" resultType="com.cohen.scheduletracking.entity.Employee">
        select * from employee as e where e.user_name = #{userName} and e.password = #{password} and e.is_valid = #{isValid}
    </select>
</mapper>