<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/schedule_tracking?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;useSSL=true" />
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="username" value="root" />
        <property name="password" value="940925" />
    </bean>
    
    <!-- 事物管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 开启基于注解的事物管理 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 整合mybatis，mybatis原来的setting全局配置均可在此完成配置 -->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 指定Mybatis全局配置文件的位置  -->
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!-- 加载所有的mapper.xml映射器配置 -->
        <property name="mapperLocations">
            <list>
                <value>classpath:mappers/ProjectMapper.xml</value>
                <value>classpath:mappers/DepartmentMapper.xml</value>
                <value>classpath:mappers/EmployeeMapper.xml</value>
                <value>classpath:mappers/CommonMapper.xml</value>
                <value>classpath:mappers/LoginInMapper.xml</value>
                <value>classpath:mappers/TaskMapper.xml</value>
            </list>
        </property>
    </bean>

    <!-- 扫描所有的dao包下的接口，使spring能够完成@Autowired自动注入 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cohen.scheduletracking.*.dao" />
    </bean>
</beans>