<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cohen.scheduletracking.dao.EmployeeMapper">
    <sql id="columns">
        
    </sql>
    <select id="getEmployeeByDeptId" parameterType="int" resultType="com.cohen.scheduletracking.entity.Employee">
        select * from employee as e where e.dept_id = #{deptId}
    </select>

    <select id="getEmployeeById" parameterType="int" resultType="com.cohen.scheduletracking.entity.Employee">
        select * from employee as e where e.id = #{id}
    </select>
    <!-- 根据id批量查员工 -->
    <select id="queryById" parameterType="list" resultType="com.cohen.scheduletracking.entity.Employee">
        select * from employee as e where e.id in (<foreach collection="ids" item="id" separator=",">#{id}</foreach>) and e.is_valid='1'
    </select>
</mapper>